{% load bootstrap3 %}
{% load static%}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <link href="https://fonts.googleapis.com/css?family=Caveat+Brush" rel="stylesheet"> -->
  <link href="https://fonts.googleapis.com/css?family=Grand+Hotel" rel="stylesheet">


  {% if title %}
  <title> Welcome to - {{title}}</title>
  {% else %}
  <title> Instagram </title>
  {% endif %}

  {% block styles %}
  {% bootstrap_css %}
  <link rel="stylesheet" href="{% static 'css/instagram.css' %}">
  <!-- <link href="https://fonts.googleapis.com/css?family=Grand+Hotel" rel="stylesheet"> -->
  {% endblock %}

</head>

<body>

  {% block content %}

  {%endblock%}

  {% block scripts %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  {% bootstrap_javascript %}
  {% endblock %}

</body>

</html>