{% extends 'base.html' %}
{% block content %}
{% load bootstrap3 %}
{{ block.super}}

{% include "navbar.html" %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2"></div>

        <div class="col-md-6" style="padding-top:20px;">
            <div class="card" style="width:415px;">
                {% for post in images %}

                <div class="card-header">
                    <a href="{{post.user}}" style="font-size:20px;"> {{post.user}} </a>
                </div>

                <div class="card-body">
                    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal{{post.id}}">
                        <img src="{{post.image.url}}" width="350px" height="350px" style="border: 1px solid #ddd;">
                    </button>
                    {% for post in images %}
                    <!-- modal content -->
                    <div class="modal fade" id="myModal{{post.id}}" role="dialog">
                        <div class="modal-dialog">

                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <img src="{{post.image.url }}" alt="" width="450" height="450">
                                    <h4 class="modal-title">{{ post.image_description }}</h4>
                                </div>

                                <div class="modal-body">
                                    {% for image in post.image_name.all %}
                                    <p>Name: {{ image.name }}</p>
                                    <p>Caption: {{ post.image_caption }}</p>
                                    {% endfor %}
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <div class="card-title" style="font-size:20px;">
                    <p style="width:350px; padding-left: 15px;">{{post.image_caption}}</p>
                </div>

                <div class="card-footer">
                    {%csrf_token%}
                    {% bootstrap_form commentForm %}
                </div>
                <hr>
                {% endfor %}
            </div>

        </div>
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
    </div>
</div>
{% endblock %}