{% extends 'base.html' %}
{% block content %}
{{ block.super}}

{% include "navbar.html" %}

<div class="container-fluid" style="background-color: lightgrey;">

    <div class="row">
        <div class="col-md-12">
            {% for post in profile %}
            <img src="{{post.profile_photo.url}}" style="border-radius:50%;">
            <p>{{post.bio}}</p>
            {% endfor %}
        </div>
    </div>

    <div class="col-sm-6 col-md-6">
        {% if user.is_authenticated %}
        <ul>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown" role="button" aria-expanded="false">Account
                      <span class="caret"></span>
                  </a>
            <ul class="dropdown-menu" role="menu">
              <li>
                <a href="{%url 'newsToday'%}">Home</a>
              </li>
              <li>
                <a href="/accounts/password/change">Change Password</a>
              </li>
              <li>
                <a href="/logout">Logout</a>
              </li>
            </ul>
          </li>
        </ul>
        {% else %}
        <li>
          <a class='btn btn-default' href="/accounts/login">Login</a>
        </li>

        {% endif %}
      </div>

    <div class="row">
        {% for post in images %}
        <div class="col-sm-4">
            <div>
                <button type="button" class="btn btn-warning btn-lg" data-toggle="modal" data-target="#myModal{{post.id}}">
                    <img src="{{post.image.url}}" width="350px" height="350px" style="border: 1px solid #ddd;"><br>
                    <p style="width:350px;">{{post.image_caption}}</p>
                </button>

                <form class="comment-form" role="comment">

                    {%csrf_token%}

                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Add a comment" name="comment" style="width:380px; border-radius: 10px;"><br><br>
                    </div>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>


</div>

{% endblock %}