{% extends 'base.html' %}
{% block content %}
{{ block.super}}
{% include "navbar.html" %}

<div class="container-fluid">

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <img src="{{profile.profile_photo.url}}" width="200" style="border-radius:50%;">
        </div>

        <div class="col-md-4">
            <p style="font-size:25px;">{{profile.user.username}}</p>
            <button type="button" class="btn btn-default" style="font-size: 25px;">Edit Profile</button>
            <i class="fa fa-cog" style="font-size:30px;"></i> <br><br>
            <p style="font-size:25px;">Nancy Muthinzi</p>
        </div>

        <div class="col-md-2"></div>
    </div>

    <!-- my pics -->
    <div class="row">
        <div class="col-md-3"  style="padding-top: 20px;">
            <div class="card" style="width:350px;">
                {% for post in images %}

                <div class="card-header">
                    <a href="{{post.user}}" style="font-size:20px;"> {{post.user}} </a>
                </div>

                <div class="card-body">
                    <img src="{{post.image.url}}" width="200px" height="200px" style="border: 5px solid #5bc0de; border-radius: 4px; padding: 5px;"><br>
                </div>
                <div class="card-title" style="font-size:20px;">
                    <p style="width:350px; padding-left: 15px;">{{post.image_name}}</p><hr>
                </div>
                {% endfor %}
            </div>

        </div>
    </div>
</div>
</div>

{% endblock %}